@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  @apply bg-gray-400;
} */

.flip {
  transform: scaleX(-1);
}

.slick-dots li button::before {
  font-size: 20px !important;
  line-height: 20px !important;
}

.font-none {
  font-size: 0;
}

/* #4c31ff */
