@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-400;
}

.flip {
  transform: scaleX(-1);
}

.slick-dots {
  top: 80%;
}

.centerAlign {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider img {
  margin: 0 auto;
  /* display: block;
  max-width:150px;
  max-height:150px;
  width: auto;
  height: auto; */
  /* padding: 0px 2.5% 0px 2.5%; */
}
